table,td{
    border: 2px solid black;
    border-collapse: collapse;
}
.lunch{
    border: 0px;
}
.head{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    margin-left: 600px;
    margin-top: 300px;
}